@model WarEntiGox.Models.LoginViewModel
@{
    Layout = "_LoginLayout";  // Use the custom login layout
}

<h2 class="text-center">Login</h2>

<form method="post">
    <div class="form-group">
        <label for="UserName">Username:</label>
        <input type="text" id="UserName" name="UserName" class="form-control" value="@(Model?.UserName ?? "")" />
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" class="form-control" />
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<div class="text-center">
    <a href="#">Forgot Password?</a> | <a href="#">Register</a>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}